{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article>
            <h1>{{ article.title }}</h1>
            <div class="metadata">Écrit le {{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i') }}dans la catégorie Développement WEB</div>
            <div>
                <img src="{{ article.image }}" alt="">
                {{ article.content | raw }}
            </div>
        </article>
    </div>
{% endblock %}